.menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    .menu{
        padding: 0 1 rem 0 1rem;
        margin: 0;
        justify-content: space-between;
        
    }
    .menu__list__item {
        display: none;
    }    
}

/*Mobile*/
@media only screen and (max-width: 425px) {
    .menu {
        margin: 0;
        padding: 0 1 rem 0 1rem;
        justify-content: flex-start;
    }
    .menu__list__item {
        display: none;
    }
    .menu__list__item__contacto {
        font-weight: 400;
    }
}