:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-de-seccion: #EAF2FD;
    --cor-de-rodapie: #FFFFFF;
    --cor-de-fonts: #464646;
    --cor-de-botton: #2A7AE4;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--cor-de-fonts);
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

.tudo {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "menu"
        "title"
        "about"
        "skills"
        "hobbies"
        "academic"
        "experience"
        "formcontato"
        "footer";
}

/* Tablet
@media (min-width: 768px)

Mobile
@media (min-width: 425px) */